* {
  box-sizing: border-box;
}

body {
  color: #0f172a;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0px;
  text-align: left;
}

.board {
  background-color: white;
  border-radius: 8px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  /* background-color: #282c34; */
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  padding: 6px 0;
  display: flex;
  justify-content: space-between;
}

.checkfield {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  user-select: none;
}

.checkfield input {
  margin: 0;
}

.checkfield input[type='checkbox'] {
  width: 18px;
  height: 18px;
  accent-color: #475569;
  border: 2px solid #475569;
  box-sizing: border-box;
  background-clip: content-box;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
}

.checkfield input[type='checkbox']:checked + label {
  color: #475569;
  text-decoration: line-through;
}

.checkfield label {
  color: #0f172a;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
}

.input-group {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  width: 100%;
}

input {
  outline: none;
  padding: 0;
  border-radius: 4px;
  padding: 8px 16px;
  color: #0f172a;
  line-height: 1.5;
  width: 100%;
  field-sizing: content;
  border: 1px solid #d4d4d8;
}

button {
  font: inherit;
  letter-spacing: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  padding: 6px 14px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  width: fit-content;
  white-space: normal;
  word-break: keep-all;
}

.add {
  background-color: #0f172a;
  color: #fff;
}

.delete {
  background-color: #ef4444;
  color: #fff;
}
